<h1>Relationship Test Quiz</h1>
<form action="/questions/0" method="post">
    <label for="name1">Your Name:</label>
    <input type="text" id="name1" name="name1" required><br>
    <label for="dob1">Your Date of Birth:</label>
    <input type="date" id="dob1" name="dob1" required><br>

    <label for="name2">Partner's Name:</label>
    <input type="text" id="name2" name="name2" required><br>
    <label for="dob2">Partner's Date of Birth:</label>
    <input type="date" id="dob2" name="dob2" required><br>

    <button type="submit">Start Quiz</button>
</form>